
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* CSS */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12.5px;
	color: #1e5474;
	background: #c7c7c7;
	margin: 0px;
}

#container {
	width: 1100px;
	height: auto;
	margin: 0px auto;
	padding: 10px;
}

#container #header {
	margin-top: 30px;
}

#container #header #menu {
	background: #1e5474;
	padding: 5px 10px;
	overflow: hidden;
}

#container #header #menu #user {
	float: left;
	color : #fff;
}

#container #header #menu #user a {
	color: #fff;
	padding-right: 5px;
	margin-top: 2px;
	display: inline-block;
	text-decoration: none;
}

#container #header #menu #button-keranjang {
	float: right;
	background: orange;
	padding: 2px 10px;
	border-radius: 3px;
}

#container #header #menu #button-keranjang img {
	vertical-align: bottom;
}

/* Content */
#container #content {
	padding: 10px 0px;
	overflow: hidden;
}

/* Footer */
#container #footer {
	background: #1e5474;
	padding: 10px;
}

#container #footer p {
	color: #fff;
	font-weight: bold;
	text-align: right;
	font-size: 12px;
	margin: 0px;
}

/* End Footer */

/* Form */
#container-user-akses {
	width: 350px;
	height: auto;
	margin : 50px auto;
}

.element-form {
	margin-bottom: 15px;
}

.element-form label {
	display: block;
	font-weight: bold;
}

.element-form span {
	display: block;
}

.element-form span input[type="text"],
.element-form span input[type="password"],
.element-form span textarea,
.element-form span select {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.element-form span input[type="submit"] {
	background: #1e5474;
	border: none;
	color: #fff;
	padding: 7px 20px;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
}

.element-form span input[type="submit"]:hover {
	background: orange;
}

.notif {
	background: red;
	padding: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

#menu-profile {
    float: left;
    width: 245px;
    background: #135474;
}

#menu-profile ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#menu-profile ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

#menu-profile ul li a:hover, 
#menu-profile ul li a.active {
    background: orange;
}

#profile-content {
	float: left;
	width: 835px;
	padding: 10px;
	background: #fff;
}

.table-list {
	width: 100%;
	border-collapse: collapse;	
}

.table-list tr.baris-title {
	background: #e6e6e6;
}

.table-list tr.baris-title th, 
.table-list tr td {
	padding: 10px 7px;
}

.numberColumn {
	width: 20px;
	text-align: center;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

#frame-tambah {
	margin-top: 8px;
	margin-bottom: 15px;
	text-align: right;
}

p.header-left {
	float: left;
	margin-top: -5px;
	margin-bottom: 3px;
	font-size: 25px;
	font-weight: bold;
}

.tombol-action {
	background: #1e5474;
	color: #fff;
	padding: 7px 15px;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 3px;
}

.tombol-action:hover {
	background: orange;
}

img .file_image {
	width: 200px;
	vertical-align: middle;
}

#kiri {
	width: 245px;
	height: auto;
	float: left;
}

#menu-kategori ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu-kategori ul li {
	margin-bottom: 5px;
}

#menu-kategori ul li a {
	display: block;
	padding: 10px;
	background: #fff;
	color: #1e4574;
	text-decoration: none;
}

#menu-kategori ul li a:hover,
#menu-kategori ul li a.active {
	background: #e8e8e8;
}

#kanan {
	width: 840px;
	height: auto;
	margin-left: 15px;
	float: left;
}

#kanan #frame-barang ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#kanan #frame-barang ul li {
	width: 240px;
	background: #fff;
	padding: 10px 15px;
	margin-bottom: 15px;
	margin-right: 15px;
	float: left;
}

#kanan #frame-barang ul li .price {
	font-size: 15px;
	font-weight: bold;
	line-height: 4px;
	text-align: right;
	margin-bottom: 10px;
}

#kanan #frame-barang ul li a img {
	display: block;
	width: 240px;
}

#kanan #frame-barang ul li .keterangan-gambar {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 0px;
	height: 50px;
}

#kanan #frame-barang ul li .keterangan-gambar p {
	text-align: center;
	margin: 5px 0px;
}

#kanan #frame-barang ul li .keterangan-gambar span {
	display: block;
	text-align: center;
}

#kanan #frame-barang ul li .button-add-cart {
	text-align: center;
} 

#kanan #frame-barang ul li .button-add-cart a {
	background: #1e5474;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 10px;
	border-radius: 4px;
}

#kanan #frame-barang ul li .button-add-cart a:hover {
	background: orange;
}

/* Detail Barang styling */
#detail-barang {
	background: #fff;
	padding: 15px;
}

#detail-barang h2 {
	margin-top: 0;
}

#detail-barang #frame-gambar {
	background: #f8f8f8;
	padding: 20px;
}

#detail-barang #frame-gambar img {
	display: block;
	margin: 0 auto;
}

#detail-barang #frame-harga {
	margin: 15px 0;
}

#detail-barang #frame-harga span {
	font-size: 15px;
	font-weight: bold;
	color: #8f2020;
}

#detail-barang #frame-harga a {
	background: #1e4574;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px;
	/* display: inline-block; */
	float: right;
	border-radius: 3px;
}

#detail-barang #frame-harga a:hover{
	background: orange;
}

#detail-barang #keterangan {
	margin: 20px 0px;
}